/* .carousel-indicators li {
    background-color: #ccc !important;
    height: 10px !important;
    width: 20px !important;
    margin-right: 1rem;
    border-radius: 1rem;
  }
  .carousel-indicators .active {
    background-color: #c80f0f !important;
  } */
  /* .carousel-indicators{
    height: 10px !important;
  } */