@import "../base/mixins";
@import "../base/extend";
@import "../base/variables";


.mainAnime{

    @include flex(column);
    text-align: center;
    padding: 0rem 2rem;

    .tituloPagina{
        font-size: $title-size-mobile;
        padding: 1rem;
        margin-top: 2rem;
    }

    .parrafoCita{
        width: 90%;
    }

    .descripciónCategoria{
        text-align: justify;
        font-size: 1.2rem;
    }

    .seccionAnime{
        border: solid rgb(167, 159, 159) 3px;
        padding: 1.5rem 1rem;
        margin: 1rem 0rem;

        .tituloAnime{
            margin: 1rem;
            @extend %diseñoTitulo;
        }
        .animeUno{
            color: rgb(23, 89, 23);
        }
        .animeDos{
            color: rgb(29, 29, 119);
        }
        .animeTres{
            color: rgb(107, 33, 33);
        }
        .animeCuatro{
            color: rgb(140, 146, 65);
        }

        .contenedorInfo{
            @include flex(column);
            text-align: justify;
            .parrafoInfo{
                width: 85%;
            }
        }

        .imgAnime{
            margin: 1rem;
            width: 80%;
            border-radius: $border-radius;
            border: 1px black solid;
        }
    }
}

@media screen and (min-width:600px){

    .mainAnime{
        .tituloPagina{
            font-size: 3rem;
        }
    
        .parrafoCita{
            font-size: 1.3rem;
        }

        .tituloPagina{
            padding: 1rem;
            margin-top: 2rem;
            font-size: $title-size-tablet;
        }

        .descripciónCategoria{
            font-size: 1.4rem;
            margin: 1rem 0rem;
        }

        .seccionAnime{
            .tituloAnime{
                font-size: 2rem;
            }
            .contenedorInfo{
                .fechaEstreno{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media screen and (min-width:992px){

    .mainAnime{  
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 1rem;
        grid-template-areas:
            "tituloPagina tituloPagina"
            "parrafoCita parrafoCita"
            "descripciónCategoria descripciónCategoria"
            "seccionUno seccionDos"
            "seccionTres seccionCuatro";
    
        justify-content: center;
        justify-items: center;

        .tituloPagina{
            grid-area: tituloPagina;
            font-size: $title-size-desktop;
        }
    
        .parrafoCita{
            grid-area: parrafoCita;
            width: 70%;
        }

        .descripciónCategoria{
            grid-area: descripciónCategoria;
            width: 75%;
        }

        .seccionUno{grid-area: seccionUno}
        .seccionDos{grid-area: seccionDos}
        .seccionTres{grid-area: seccionTres}
        .seccionCuatro{grid-area: seccionCuatro}

        .seccionAnime{
            height: 42rem;
            margin: 0.5rem;
            @include flex(column);
            .tituloAnime{
                font-size: 2rem;
            }
            .contenedorInfo{
                .fechaEstreno{
                    font-size: 1.5rem;
                }
            }
        }
    }

    .pagesContainer{
        margin-top: 1rem;
    }
}