@import "../base/mixins";
@import "../base/extend";
@import "../base/variables";

.mainContacto{

    @include flex(column);
    text-align: center;
    padding: 0rem 2rem;

    p{
        padding: 0.4rem;
    }

    .tituloPagina{
        padding: 1rem;
        margin-top: 2rem;
        font-size: $title-size-mobile;
    }

    .subForm{
        width: 80%;
        font-size: 1.2rem;
        margin-bottom: 0;
        padding: 0.4rem;
        text-align: justify;
        padding: 0.4rem;
    }
    
    .mapIframe {
        width: 90%;
        max-width: 400px;
        margin-bottom: 1rem;
        border-radius: $border-radius;
    }

    .contact_form{	
        margin: 1rem auto;
        border-radius: $border-radius;  
        padding-top: 1.6rem;
        padding-bottom: 1.4rem;  
        background-color: $color-principal;

        .containerForm{
            @include flex(column);
            text-align: center;
            .tituloForm{
                width: 80%;
                font-size: 39px;
                text-align: center;
                padding-bottom: 20px; 
                color: #ab4493;
            }

            .mainForm{
                .textForm{
                    font-size: 14px; 
                    color: #0e0e0e; 
                    text-align: justify;
                    .inputForm{
                        background-color: #fbfbfb; 
                        width: 100%; 
                        height: 2.5rem; 
                        border-radius: $border-radius;
                        border: solid 1px #ab4493;
                        margin-top: 0.6rem;  
                        padding-left: 1rem;
                        margin-bottom: 1rem; 
                    }
                    .texto_mensaje{
                        background-color: #fbfbfb; 
                        width: 100%; 
                        height: 250px; 
                        border-radius: $border-radius;  
                        border: solid 1px #ab4493;
                        padding-left: 10px;
                        padding-top: 15px;
                    }
                    input:focus, textarea:focus{
                        outline:0;
                        border: 1px solid #97d848;
                    }
                }
                .buttonForm{
                    height: 45px; 
                    text-transform: uppercase;
                    background-color: #ab4493; 
                    border-color: #ab4493; 
                    border-style: solid; 
                    border-radius: $border-radius;	
                    width: 70%;   
                    cursor: pointer;

                    .textButton{
                        text-align: center;
                        margin: 0px;
                    }
                }
                .aviso{
                    text-align: center;
                    margin-top: 0.4rem;
                    font-size: 13px;  
                    color: #0e0e0e;  
                }
            }
        }
    }

    .linkSocialNet{
        @include flex(column);
        text-align: center;
        .containerNetworks {
            display: flex;
            justify-content: center;
            gap: 2rem;
            font-size: 2rem;
            a{
                margin: 0rem 0rem 2rem 0rem;
                text-decoration: none;
                width: 60px;
                height: 60px;
                line-height: 60px;
                background-color: $color-principal;
                color: #262626;
                border: solid black 1px;
                border-radius:50%;
                box-shadow: 2px 2px 2px rgba(0,0,0, 1);
                transition: all .4s ease-in-out;
            }

            a:hover{
                transform: scale(1.2);
            }

            .linkFace:hover{
                background-color: #3b5999;
                color: $color-principal;
                border-color: $color-principal;
            }

            .linkTwt:hover{
                background-color: #55acee;
                color: $color-principal;
                border-color: $color-principal;
            }

            .linkYout:hover{
                background-color: #c4302b ;
                color: $color-principal;
                border-color: $color-principal;
            }

            .linkLinke:hover{
                background-color: #0077b5;
                color: $color-principal;
                border-color: $color-principal;
            }
        }
    }
}

@media screen and (min-width:600px){

    .mainContacto{
        .tituloPagina{
            font-size: $title-size-tablet;
        }

        .subtituloPrincipal{
            padding: 2rem;
          }

        .mapIframe {
            width: 90%;
            min-height: 400px;
            max-width: 600px;
            margin-bottom: 2rem;
            border-radius: $border-radius;
        }

        .linkSocialNet{
            @include flex(column);
            text-align: center;
    
            .containerNetworks {
                gap: 2rem;
                font-size: 2.5rem;
                a{
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                }
            }
        }
    } 
}

@media screen and (min-width:992px){

    .mainContacto{
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "tituloPagina  tituloPagina"
            "subForm subForm"
            "contact_form linkSocialNet"
            "subtituloPrincipal subtituloPrincipal "
            "mapIframe mapIframe ";
        justify-content: center;
        justify-items: center;

        .tituloPagina{
            grid-area: tituloPagina;
            font-size: $title-size-desktop;
        }
        .subForm{grid-area: subForm;}
        .contact_form{grid-area: contact_form;}
        .linkSocialNet{grid-area: linkSocialNet;}
        .subtituloPrincipal{grid-area: subtituloPrincipal;}
        .mapIframe{grid-area: mapIframe;}

        .linkSocialNet{   
            .containerNetworks {
                flex-wrap: wrap;
            }
        }

        .subForm{
            width: 50%;
        }

        .contact_form{	
            width: 80%;
            max-width: 700px;
            margin: 3rem auto 1rem;
            padding-top: 2rem;
            padding-bottom: 1.4rem;  
    
            .containerForm{
                .tituloForm{
                    font-size: 45px;
                }    
                .mainForm{
                    .textForm{
                        font-size: 20px; 
                        .inputForm{
                            height: 3.5rem; 
                        }
                    }
                    .buttonForm{
                        height: 5rem; 
                        .textButton{
                            text-align: center;
                            margin: 1rem;
                        }
                    }
                    .aviso{
                        text-align: center;
                        font-size: 1rem;  
                        color: #0e0e0e;  
                    }
                }
            }
        }
    }
}    